.services-bg-container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: rgb(233, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.services-bottom-container {
  height: auto;
  display: flex;
  justify-content: center;
}
.services-bottom-hed-desc-container {
  width: 50%;
  text-align: center;
}

.services-bottom-heading {
  font-size: 50px;
  font-weight: 600;
}

.services-bottom-description {
  font-size: 20px;
  font-weight: 600;
  font-family: "bree-serif";
  line-height: 2rem;
}

.services-cards-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.services-each-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 280px;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
}

.each-card-heading {
  font-size: 20px;
  color: #ffffff;
}

.each-card-image {
  height: 150px;
  width: 160px;
}

.each-card-button {
  border: 1px solid #d961e7;
  border-radius: 18px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
}
